.welcome {
    display: flex;
    align-items: center;
    margin-left: 250px;
    background: #1a1a2e;
    color: #b8b8d1;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 15px 50px;
    h3 {
        font-size: 25px;
        text-transform: capitalize;
        margin-bottom: 0;
    }
}

.content {
    margin-left: 250px;

    padding: 30px 50px;
}