<section>

    <nav class="container">
        <div class="logo">
            <img src="/ih logo black.png" alt="ih logo">
        </div>
    <div class="elements">
        <ul>
            <li><a class="active" [routerLink]="'/condida/home'">Home</a></li>
            <li><a [routerLink]="'/condida/updateProfile'">Update profile</a></li>
        </ul>
        <div class="line"></div>
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{ user.prenom }} {{ user.nom }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="logout()"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>
    </section>