section {
    border-bottom: 1px solid #1a1a2e;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .logo {
        width: 50px;
        height: 50px;
        padding: 10px 10px 10px 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .elements {
        display: flex;
        align-items: center;
        gap: 20px;

        ul {
            display: flex;
            gap: 30px;
            margin: 0;

            li {
                list-style: none;
                position: relative;

                a {
                    color: #1a1a2e;
                    cursor: pointer;
                    font-weight: 600;
                    text-decoration: none;

                    &::after {
                        content: '';
                        height: 2px;
                        width: 0%;
                        background-color: #1a1a2e;
                        position: absolute;
                        left: 0;
                        bottom: 1px;
                        transition: .3s;


                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        .line {
            width: 1.5px;
            height: 30px;
            background-color: rgba(128, 128, 128, 0.373);
        }

        .col {
            .btn {
                background-color: #1a1a2e;
                color: white;

                &:hover {
                    background-color: white !important;
                    color: #1a1a2e !important;
                }
            }

            button {
                &:hover {
                    background-color: rgba(240, 28, 28, 0.107) !important;
                    // color: white;
                    border-radius: 5px;
                }
            }
        }
    }
}
