.profile {

    width: 60%;
    margin: auto;
    height: calc(100vh - 135px);

    display: flex;
    flex-direction: column;
    justify-content: center;



    header {
        border-bottom: 1px solid #1a1a2e;
        color: #1a1a2e;
    }

    .body-profile {
        margin-top: 30px;
    }

    .fullName {
        display: flex;
        gap: 20px;
    }


}

.btn {
    margin-bottom: 20px;
    width: 100%;
    background: #1a1a2e !important;
}

.profile-card {
    border-radius: 10px;
    padding: 20px 50px;
    // background-color: rgba(187, 187, 187, 0.288);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.5);
}