@use '../../styles.scss' as *;

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.image {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.image img {
    width: 100%;
    height: 100%;
}

form {
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.43);
    width: 40%;
    display: flex;
    flex-direction: column;
}

.title {
    color: $gray;
    font-size: 18px;
}
p {
    color: $gray;
    font-size: 14px;
}

