.home {
    text-transform: capitalize;
}
.search {
    text-align: center;
    input {
        width: 60%;
        padding: 20px 10px;
        border-radius: 15px 0px 0px 15px;
        outline: none;
        border: 1px solid #1a1a2e;
    }
    button {
        padding: 20px;
        border-radius: 0px 15px 15px 0px;
        background-color: #1a1a2e;
        color: white;
        border: 1px solid #1a1a2e;
    }
}

.title {
    margin-top: 30px;
    color: #1a1a2e;
    margin-bottom: 30px;
}

.offers {
    display: flex;
    gap: 20px;
    // width: 80%;
    // margin: 0 auto;
    .allOffers {
        height: fit-content;
        width: 40%;
        cursor: pointer;
        
        .job-card {
            border: 1px solid #1a1a2e;
            border-radius: 15px;
            padding: 15px;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;


            button {
                background-color: transparent;
                border: none;
            }

            .infos {
                h5 {
                    color: #1a1a2e;
                }
                span {
                    color: gray;
                    font-size: 14px;
                }
            }

            .action {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
            }
        }
    }

    .viewOffer {
        width: 60%;
        border: 1px solid #1a1a2e;
        padding: 15px;
        border-radius: 15px;
        height: fit-content;
        position: sticky;
        top: 60px;
        .offer {
            border-bottom: 2px solid rgba(128, 128, 128, 0.304);
            span {
                display: block;
                color: gray;
                margin: 10px 0;
            }

            button {
                display: block;
                
                background-color: #1a1a2e;

                &:hover {
                    background-color: white;
                    color: #1a1a2e;
                }
            }
        }

        .job-details {
            margin-top: 10px;
            h5 {
                span {
                    color: gray;
                    font-size: 16px;
                }
            }

            p {
                font-size:  14px;
                color: gray;
                font-weight: 500;
            }
        }
    }
}

.job-card.active-offer {
    border: 2px solid #007bff !important; 
    background-color: rgba(0, 123, 255, 0.05);
}