<div class="roles-page">
  <div class="roles-container">

    <!-- Add Role Section -->
    <div class="add-role-section">
      <h3>Add New Contract</h3>
      <form (ngSubmit)= "addContract()">
        <div class="form-group">
          <input type="text" [(ngModel)]="newContract" name="typeContrat" placeholder="Enter conract name" />
          <button type="submit" >Add Contract</button>
        </div>
        <small class="text-danger" *ngIf="backendErrorMessage">{{ backendErrorMessage }}</small>
      </form>
    </div>

    <!-- Roles Table -->
    <div class="roles-table">
      <h3>All Contract</h3>
      <table>
        <thead>
          <tr>
            <th>Contract Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contract of allContract" >
            <td>{{ contract.typeContrat }}</td>
            <td>
              <button type="button" class="delete-btn" (click)="deleteContract(contract._id)">
                <i class="fa fa-trash"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
