section {
    background: #1a1a2e;
    
    header {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        color: #b8b8d1;
    
        .logo {
            width: 60px;
            height: 60px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .elements ul {
            display: flex;
            gap: 20px;
            align-items: center;
            margin-bottom: 0;
            li {
                list-style: none;
                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .user {
            .btn {
                background-color: white;
                color: #1a1a2e;
            }
        }
    }
}

.active {
    border-bottom: 1px solid white;
}