@use '../../styles.scss' as *;

.image {
    width:80px;
    height: 80px;
    margin-bottom: 30px;
}

.image img {
    width: 100%;
    height: 100%;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.title {
    color: $gray;
    font-size: 18px;
}
p {
    color: $gray;
    font-size: 14px;
}
form {
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.43);
    width: 57%;
}

.fullName,
.passwords {
    display: flex;
    gap: 20px
}

.register form {
    display: flex;
    flex-direction: column;
}

.register form mat-form-field {
    margin-bottom: 15px;
    width: 100%;
    
}